html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.background {
    position: absolute;
    font-family: "Microsoft YaHei","sans-serif";
    width: 100%;
    height: 100%;

}

a {
    text-decoration: none !important;
    color: #aaaaaa;
}
a:hover {
    color: #366ce8;
}

.navi{
    width: 100%;
    height: 20px;
    /*font-size: 12px;*/
    font-size: .75rem;
    color: #aaaaaa;
    position: absolute;
    top: 80px;
    line-height: 20px;
}
.nav{
    float: right;
    margin-right: 6%;
}
.name {
    font-size: .8rem;
    color: #c3c3c3;
    float: left;
    margin-left: 4%;
    transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;	/* Firefox 4 */
    -webkit-transition: font-size 0.5s;	/* Safari 和 Chrome */
    -o-transition: font-size 1s;
}

.name:hover{
    font-size: 1rem;
}

.fa-minus{
    color: #366ce8;
}

.main {
    /*width: 52%;*/
    width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #666666;
}

.sidebar {
    float: left;
    /*width: 28%;*/
    width: 280px;
    background-color: transparent;
    color: #888888;
}

.dateNav {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px 0;
    overflow: hidden;
}

dt {
    height: 2.7rem;
    text-align: left;
    line-height: 2.7rem;
    text-indent: 10%;
    vertical-align: middle;
    background-color: #ffffff;
    /*font-size: 1.4rem;*/
    font-size: 1.8rem;
}
dd {
    margin-left: 0;
    text-indent: 15%;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    text-align: left;
    font-size: 1rem;
}

dt:hover {
    background-color: #366ce8;
}
dd:hover {
    background-color: #366ce8;
}

dd a:hover {
    color: #ffffff;
}

.statistics {
    background-color: #ffffff;
    width: 100%;
    display: table;
    /*columns: 2;*/
    /*column-rule: solid 1px #dddddd;*/
    /*column-gap: 0;*/
    margin: 10px 0;
    padding: 10px 0;
}

.statistics div {
    /*clear: both;*/
    display: table-cell;
    width: 50%;
    height: 2.8rem;
    text-align: center;
}

.statistics div:first-child {
    border-right: solid 1px #aaaaaa;
}

.statistics .snum {
    font-size: 1.8rem;
    color: #586185;
    line-height: 1.4rem;
    margin-top: 5px;
    margin-bottom: 4px;
}
.statistics .scon {
    line-height: 0.8rem;
    font-size: 0.8rem;
    margin-top: 4px;
    margin-bottom: 5px;
}

.blogNav {
    background-color: #ffffff;
    padding: 5px 0;
}

.blogNav li {
    position: relative;
    width: 100%;
    left: -10%;
    margin: 10px 10px;
    font-size: 0.9rem;
}
.blogNav li:hover{
    color: #366ce8;
}

.blogs {
    float: right;
    /*width: 69%;*/
    width: 690px;
    background-color: #ffffff;
    color: #888888;
    margin-bottom: 100px;
}

.blog {
    position: relative;
    background-color: transparent;
    padding: 35px 25px 35px;
}

.head {
    width: 100%;
    margin-bottom: 10px;
}

.title {
    color: #366ce8;
    line-height: 2rem;
    font-size: 1.2rem;
    float: left;
}

.date {
    clear: both;
    font-size: 0.9rem;
}
.detail {
    width: 100%;
}


.content {
    margin-bottom: 20px;
    font-size: 0.9rem;
    line-height: 1.8rem;
    letter-spacing: 0.08rem;
}

.showComment {
    position: relative;
    width: 4.3rem;
    height: 1.4rem;
    margin: 10px auto 30px;
    background-color: transparent;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    text-decoration: none;
    font-family: "Microsoft YaHei","sans-serif";
    font-size: 0.9rem;
    text-align: center;
    color: #888888;
}

.showComment:hover {
    border: 1px solid #366ce8;
    color: #366ce8;
}

.showComment:active {
    background-color: #366ce8;
    color: #c3c3c3;
}

.comments {
    margin: 10px 5px;
}

.comment {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.userIcon {
    position: relative;
    width: 45px;
    float: left;
    margin-right: 25px;
}

.userIcon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.username {
    font-size: 0.9rem;
}

.comment .commentContent {
    position: relative;
    font-size: 0.9rem;
    color: #444444;
    width: 85%;
    float: left;
}

.comment {
   float: left;
}

.typeComment {
    position: relative;
    width: 100%;
    color: #444444;
}
.typeComment textarea {
    width: 100%;
    font-family: "Microsoft YaHei","sans-serif";
}

.typeComment input {
    margin: 5px 0;
    font-family: "Microsoft YaHei","sans-serif";
}

.selectIcon select {
    width: 300px;
}
.selectIcon option {
    background-image: url(../images/enter.png);
    background-size: contain;
}

.submitButton{
    clear: both;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}
.submitButton input {
    width: 5rem;
    height: 1.5rem;
    font-family: "Microsoft YaHei","sans-serif";
    border: none;
    background-color: #366ce8;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.9rem;
}

