#render {
    position: relative;
    font-family: "Microsoft YaHei UI", serif;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
}

#title{
    font-size: 2rem;
}

#commentNum {
    float: left;
}

#likes {
    float: left;
}

#comments{
    clear:both;
}

.num{
    border-width: 5px 6px;
    border-style: solid;
    border-color: transparent;
    float: left;
}

#guest{
    border: 10px solid transparent;
}

#comment{
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: beige;
    border-bottom-width: 10px;
}