<div class="blog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head">
        <div class="title" th:text="${title}"></div>
        <div class="date" th:text="${date}"></div>
    </div>
    <div class="detail">
        <div class="content" id="content" th:text="${content}" >
            内容
        </div>

        <div class="showComment" onclick="showComment()">收起评论</div>

        <div class="comments" id="comments">
            <form id="subcomment" action="/addComment/${id}/${simpleName}">
                <div class="typeComment">
                    <div class="userIcon"><img src="../static/images/user.jpg"/></div>
                    <textarea cols="58" rows="4" form="subcomment" placeholder="请输入你要评论的内容～～"></textarea>
                </div>
                <div class="submitButton"><input type="submit" value="评论" /></div>
            </form>
            <div class="comment" th:each="item,iterStat : ${comments}">
                <div class="userIcon"><img src="../static/images/user.jpg"/></div>
                <div class="username" th:text="${item.name}+'&nbsp; &nbsp;'+${item.commentDate}"></div>
                <div class="commentContent" th:text="${item.saying}"></div>
            </div>
        </div>
    </div>
</div>
<!-- markdown parser-->
<script src="../static/js/markdown.min.js"></script>
<script src="../static/js/markdownParser.js" defer='defer'></script>

<!--//ajax添加评论和点赞-->
<script>
    function like() {
        var xmlhttp;
        if (window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("post","/like",true);
            xmlhttp.send()
        }else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
    }
    function comment() {
        var xmlhttp;
        if (window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("post","/comment",true);
            xmlhttp.send()
        }else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
    }
</script>


