<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <!--font-awesome.min.css"> -->
        <script src="https://use.fontawesome.com/d35a849ddd.js"></script>
        <script src="../static/js/includeHTML.js"></script>
        <title>博客</title>
        <link href="../static/css/blog.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="background">
            <div class="navi">
                <div class="name"><a href="/blog"><font size="4px" color="#366ce8">Y</font>ORKER WORK</a></div>
                <div class="nav"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;联系</div>
                <div class="nav"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;资料</div>
                <div class="nav"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;博客</div>
            </div>

            <div class="main">
                <div class="sidebar">
                    <div class="dateNav">
                        <dl>
                            <dt>2016</dt>
                            <dd>10月</dd>
                            <dt>2015</dt>
                            <dt>2014</dt>
                        </dl>
                    </div>
                    <div class="statistics">
                        <div><p class="snum">20</p><p class="scon">文章</p></div>
                        <div><p class="snum">9</p><p class="scon">评论</p></div>
                        <div><p class="snum">27</p><p class="scon">点赞</p></div>
                    </div>
                    <div class="blogNav">
                        <ul style="list-style-type: none;">
                            <li><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;[前端]前端你辣么美</li>
                        </ul>
                    </div>
                </div>
                <div class="blogs">
                    <div w3-include-html='/blog/default'></div>
                    <div>上一篇</div>
                    <div>下一篇</div>
                </div>
            </div>
            <div class="foot"></div>
        </div>
        <!--引入blog-->
        <script>includeHTML();</script>
        <!-- markdown parser-->
        <script src="../static/js/markdown.min.js"></script>
        <script src="../static/js/markdownParser.js"></script>
        <script>

            new parser(get("content"));
        </script>
        <!--评论点击-->
        <script>
            function onview() {
                var com = document.getElementById("comments");
                if (com.style.visibility == "visible"){
                    com.style.visibility = "hidden";
                }else{
                    com.style.visibility = "visible";
                }

            }
        </script>
        <!--//ajax添加评论和点赞-->
        <script>
            function like() {
                var xmlhttp;
                if (window.XMLHttpRequest){
                    xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("post","/like",true);
                    xmlhttp.send()
                }else{
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
            }
            function comment() {
                var xmlhttp;
                if (window.XMLHttpRequest){
                    xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("post","/comment",true);
                    xmlhttp.send()
                }else{
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
            }
        </script>
    </body>
</html>

