<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <!--font-awesome.min.css"> -->
        <script src="https://use.fontawesome.com/d35a849ddd.js"></script>
        <script src="../../static/js/includeHTML.js"></script>
        <script src="../../static/js/jquery-3.3.1.min.js"></script>
        <script src="../../static/js/loadBlog.js"></script>
        <link href="../../static/css/blog.css" rel="stylesheet"/>
        <title>博客</title>
    </head>
    <body>
        <div class="background">
            <div class="navi">
                <div class="name"><a href="/"><font size="4px" color="#366ce8">Y</font>ORKER WORK</a></div>
                <div class="nav" onmouseover="navHover(this)" onmouseout="navOut(this)"><a href="#"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;联系</a></div>
                <div class="nav" onmouseover="navHover(this)" onmouseout="navOut(this)"><a href="/1/intro"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;资料</a></div>
                <div class="nav" onmouseover="navHover(this)" onmouseout="navOut(this)"><a href="/1/blog"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;博客</a></div>
            </div>

            <div class="main">
                <div class="sidebar">
                    <div class="dateNav">
                        <dl th:each="date : ${dates}">
                            <dt th:text="${date.key}">2016</dt>
                            <dd th:each="month : ${date.value}"><a th:text="${month}+'月'" th:href="'/1/'+${date.key}+${month}">10月</a></dd>
                        </dl>
                    </div>
                    <div class="statistics">
                        <div><p class="snum">3</p><p class="scon">文章</p></div>
                        <div><p class="snum">9</p><p class="scon">评论</p></div>
                        <!--<div><p class="snum">27</p><p class="scon">点赞</p></div>-->
                    </div>
                    <div class="blogNav">
                        <ul style="list-style-type: none;">
                            <li th:each="item,iterStat : ${list}">
                                <i class="fa fa-minus" aria-hidden="true"></i>&nbsp;&nbsp;
                                <a th:text="${item[1]}" th:href="'/1/blog/'+${item[0]}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blogs">
                    <div class="blog"></div>
                </div>
            </div>
            <div class="foot"></div>
        </div>
        <!--加载blog-->
        <!--<script>includeHTML();</script>-->
        <script th:inline="javascript">
            var name = /*[[${id}]]*/"";
            load(name);
        </script>
        <script src="../../static/js/naviEffect.js"></script>
    </body>
</html>

