<div class="blog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head">
        <div class="title" th:text="${article.title}"></div>
        <div class="date" th:text="${article.createDate}"></div>
    </div>
    <div class="detail">
        <div class="content" id="content" th:text="${article.content}" >
            内容
        </div>

        <div class="showComment" onclick="showComment()">收起评论</div>

        <div class="comments" id="comments">
            <form id="subcomment" th:action="@{/1/addComment/__${article.id}__}" method="post">
                <div class="typeComment">
                    <!--<div class="userIcon"><img src="../static/images/user.jpg"/></div>-->
                    <input class="user" name="user" type="text" maxlength="10" placeholder="您的名字(非空)"/>
                    <input class="mail" name="mail" type="text" maxlength="25" placeholder="您的邮箱(非空)"/>
                    <textarea cols="58" rows="4" name="saying" placeholder="请输入你要评论的内容(非空)"></textarea>
                </div>
                <div class="submitButton"><input type="submit" value="评论" /></div>
            </form>
            <div class="comment" th:each="item,iterStat : ${comments}">
                <!--<div class="userIcon"><img src="../static/images/user.jpg"/></div>-->
                <div class="username" th:text="${item[1]}+'&nbsp; &nbsp;'+${item[3]}"></div>
                <div class="commentContent" th:text="${item[2]}"></div>
            </div>
        </div>
    </div>
</div>
<!-- markdown parser-->
<script src="../../static/js/markdown.min.js"></script>
<script src="../../static/js/markdownParser.js" defer='defer'></script>

<!--//ajax添加评论和点赞-->
<script>
    function like() {
        var xmlhttp;
        if (window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("post","/like",true);
            xmlhttp.send()
        }else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
    }
    function comment() {
        var xmlhttp;
        if (window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("post","/comment",true);
            xmlhttp.send()
        }else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
    }
</script>


